body{
    background-color: #D69ADE;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 6rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.main{
    width: 100%;
    padding: 20px;
    display:flex;
    justify-content: space-evenly;
    
}


.btn{
    display:flex;
    justify-content: center;
}

button{
    padding: 20px 60px;
    border-radius: 50px;
    background-color: #AA60C8;
    border: none;
    font-weight: bold;
}

button:hover{
    padding: 19px 55px;
    background-color: #aa63c6;
}

@media (max-width: 600px){
    .body{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 3rem;
    }
    
    h2{
        font-size: 2rem;
    }
    
    p{
        font-size: 2rem;
    }

    .main{
    width: 100%;
    padding: 15px;
    height: 100%;
    }
}